*{
    margin: 0px;
    padding: 0px;
    font-family : 'Poppins', sans-serif;
    box-sizing: border-box;
}

main{
    margin : 20px;
    text-align: center;
}

main#poeme{
    background-color: skyblue;
    border-radius: 90%;
    margin-left: 50px;
    margin-right: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

h1{
    text-align: center;
    margin: 15px;
}

.margin15{
    margin: 15px;
}
/*************************************Header Top**********************************/
div.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbb5ff;
}

.header img{
    max-width: 100px;
    height: auto;
    border-radius: 25%;
    margin : 5px;
}

#ticket:hover {
    cursor: pointer;
}

/* NavBar */

.navbar ul{
    list-style-type: none;
    background-color:hsl(0, 0%, 25%);
    overflow:hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;

}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
/*************************************Header Bottom**********************************/
/*Table*/

table{
    margin: 15px;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#e7baff, #c2b6d9);
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-area{
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
}

#img-view{
    width: 100%;
    height : 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;
}

#img-view img{
    width: 100px;
    margin-top: 25px ;

}

#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 5px;
}
/*************************************DATA Management Top**********************************/

.MainDataManagementWrap{
    display: flex;
    justify-content: space-around;

}

.EtrWrap {
    background-color: aliceblue;
    padding : 15px;
}

.EmplWrap{
    background-color:rgba(14, 222, 69, 0.462) ;
    padding : 15px;
}
.corner{
    padding : 20px;
    font-weight: bolder;
}

.degage {
    margin-bottom: 5px;
}
/*************************************DATA Management Bottom**********************************/
/*************************************FORMULAIRE TOP******************************************/

/*Form*/

/* label, input { 
    display: block; 
    margin: 5px;
}
input { 
    padding: 5px; 
} */

/*TimeBlock*/

.TimeBlock{
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #15c7c480;
}

/*Wrapper*/

.wrapper{
    display: flex;
}

.wrap-in{
    margin: 10px;
}
.wrap-in:last-child {
    align-self: flex-end;
}

/*Design combo*/

 /* Style pour le select */
 .combo-form {

    background-color: #15c7c480; /* Couleur de fond */
    border: 2px solid #BDC3C7; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espace à l'intérieur du select */
    color: #34495E; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
    width: 200px; /* Largeur du select */
}

/* Style pour les options */
#entreprise option {
    background-color: #ECF0F1; /* Couleur de fond des options */
    color: #34495E; /* Couleur du texte des options */
}

/*************************************FORMULAIRE TOP******************************************/