*{
    margin: 0px;
    padding: 0px;
    font-family : 'Poppins', sans-serif;
    box-sizing: border-box;
}

main{
    margin : 20px;
    text-align: center;
    padding-top: 110px;
}

main#poeme{
    background-color: skyblue;
    border-radius: 90%;
    margin-left: 50px;
    margin-right: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

h1{
    text-align: center;
    margin: 15px;
}

.margin15{
    margin: 15px;
}

.degage {
    margin-bottom: 5px;
}

.degage30 {
    margin-top: 30px;
}

.padR7{
    padding-right: 7px;
}

.padR10{
    padding-right: 10px;
}

.padR20{
    padding-right: 20px;
}

.entravo {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    border: 4px solid transparent; /* Ajustez la largeur de la bordure si nécessaire */
    background-clip: padding-box; /* Assure que la bordure est bien visible */
}

.entravo::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    border: 10px solid; /* Ajustez la largeur de la bordure si nécessaire */
    border-image: linear-gradient(45deg, black 25%, yellow 25%, yellow 50%, black 50%, black 75%, yellow 75%, yellow) 10;
    border-radius: 5px;
}

/*************************************Header Top**********************************/
div.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbb5ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px; 
    z-index: 1000; /* Assure que le header reste au-dessus du contenu */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

/* Taille des images du header */
.header img{
    max-width: 100px;
    height: auto;
    border-radius: 25%;
    margin : 5px;
}

.SLYLogo:hover {
    cursor: pointer;
}

.SLYLogo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
}

.SLYLogo{
    width: 200px;
    height: 200px;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    96% {
        transform: rotate(0deg);
    }
    97% {
        transform: rotate(20deg);
    }
    98% {
        transform: rotate(0deg);
    }
    99% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* NavBar */

.navbar{
    position: fixed;
    top: 90px; /* Ajustez selon la hauteur du header */
    left: 0;
    right: 0;
    z-index: 999; /* Assure que le menu reste au-dessus du contenu */
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);  Optionnel, pour ajouter une ombre */
}

.navbar ul{
    list-style-type: none;
    background-color:hsl(0, 0%, 25%);
    overflow:hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

/* fenêtre modale*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* fenêtre modale > PAM */
.myself{
    margin: 20px;
    margin-bottom: 80px;
    padding: 20px;
    background-color: #3b5e3463;
    text-align: center;
    border-radius: 5px;
}

.modal-btn-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.txt-modal-btn-line{
    margin: 10px;
}
/* fenêtre modale > Bouton */
input.toggleBtn{
    display: none;
}
label.labelToggleBtn {
    display: inline-block;
    height : 30px;
    width: 50px;
    background-color: #3b5e3463;
    position: relative;
    transition: all .88s;
    border-radius: 15px;
    cursor: pointer;
}

label.labelToggleBtn:after{
    content : "";
    height : 20px;
    width: 20px;
    background-color: #ffffff;
    position: absolute;
    top : 5px;
    left : 5px;
    transition: all .88s;
    border-radius: 50%;
}

input.toggleBtn:checked + label.labelToggleBtn:after{
    transform: translateX(20px);
}

input.toggleBtn:checked + label.labelToggleBtn{
    background-color: green;
}



/*************************************Header Bottom****************************************/
/*************************************DATA Management Top**********************************/
.beau_gros_champ{
    height: 30px;
    margin : 5px;
    padding: 5px;
    border-radius: 5px;
}

.MainDataManagementWrap{
    display: flex;
    justify-content: space-around;

}

.EtrWrap {
    background-color: aliceblue;
    padding : 15px;
}

.EmplWrap{
    background-color:rgba(14, 222, 69, 0.462) ;
    padding : 15px;
}
.corner{
    padding : 20px;
    font-weight: bolder;
}

.DataCheckingWrap{
    display: flex;
    justify-content: space-around;
}

.EtrTbl{
    background-color: aliceblue;
    margin : 15px; 
}

.EmplTbl{
    background-color:rgba(14, 222, 69, 0.462) ;
    margin : 15px;
    width: 100%;
    border-style: solid;
    border: 1px;
}

.TestTbl{
    /*width: 100%;*/
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

th.TestTbl, td.TestTbl{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th.TestTbl{
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

form.formTestTbl {
    display: inline-block;
}

form.formTestTbl input[type="submit"] {
    margin-left: 5px;
}


/*************************************DATA Management Bottom**********************************/
/*************************************FORMULAIRE TOP******************************************/

/*Form*/

/* label, input { 
    display: block; 
    margin: 5px;
}
input { 
    padding: 5px; 
} */

/*TimeBlock*/

.TimeBlock{
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #15c7c480;
    margin: 15px;
}

/*Wrapper*/

.wrapper{
    display: flex;
}

.wrap-in{
    margin: 10px;
}
.wrap-in:last-child {
    align-self: flex-end;
}

/*Design combo*/

 /* Style pour le select */
 .combo-form {

    background-color: #15c7c480; /* Couleur de fond */
    border: 2px solid #BDC3C7; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espace à l'intérieur du select */
    color: #34495E; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
    width: 200px; /* Largeur du select */
}

/* Style pour les options */
#entreprise option {
    background-color: #ECF0F1; /* Couleur de fond des options */
    color: #34495E; /* Couleur du texte des options */
}

/*************************************FORMULAIRE TOP******************************************/